name: Release

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: write
  packages: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Extract version
        id: version
        run: echo "VERSION=${GITHUB_REF#refs/tags/v}" >> $GITHUB_OUTPUT

      - name: Build and push usulnet
        uses: docker/build-push-action@v6
        with:
          context: .
          platforms: linux/amd64
          push: true
          tags: |
            ghcr.io/usulnet/usulnet:${{ steps.version.outputs.VERSION }}
            ghcr.io/usulnet/usulnet:latest
            usulnet/usulnet:${{ steps.version.outputs.VERSION }}
            usulnet/usulnet:latest
          build-args: |
            VERSION=${{ steps.version.outputs.VERSION }}
            COMMIT=${{ github.sha }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Build and push usulnet-agent
        uses: docker/build-push-action@v6
        with:
          context: .
          file: Dockerfile.agent
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |
            ghcr.io/usulnet/usulnet-agent:${{ steps.version.outputs.VERSION }}
            ghcr.io/usulnet/usulnet-agent:latest
            usulnet/usulnet-agent:${{ steps.version.outputs.VERSION }}
            usulnet/usulnet-agent:latest
          build-args: |
            VERSION=${{ steps.version.outputs.VERSION }}
            COMMIT=${{ github.sha }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          generate_release_notes: true
          prerelease: ${{ contains(github.ref, 'beta') || contains(github.ref, 'rc') }}
